<div id="menu_tabs" class="container">
    <ul class="nav nav-tabs">
    <li class="<%= 'active' if params[:controller] == 'modulo_cliente' %>"><a href="/modulo_cliente/modulo_cliente.html"><span class="glyphicon glyphicon-book"></span> Clientes</a></li>
    <li class="<%= 'active' if params[:controller] == 'modulo_portafolio' || params[:controller] =='documento'|| params[:controller] =='riesgo'|| params[:controller] =='alianza'%>"><a href="/modulo_portafolio/view_portafolio.html"><span class="glyphicon glyphicon-briefcase"></span> Portafolio</a></li>    
    <li class="<%= 'active' if params[:controller] == 'modulo_entregable' %>"><a href="/modulo_entregable/view_entregable.html"><span class="glyphicon glyphicon-file"></span> Entregables</a></li>  
    <li class="<%= 'active' if params[:controller] == 'recursos' %>"><a href="/recursos/lista_recursos.html"><span class="glyphicon glyphicon-user"></span> Recursos</a></li>  
    <li class="<%= 'active' if params[:controller] == 'bitacora' %>"><a href="/bitacora/bitacora_usuario.html"><span class="glyphicon glyphicon-edit"></span> Bitácora</a></li>  
    </ul>

</div>
