<!--Carga las pestañas de la aplicación-->
<%= render 'layouts/menus/menu_tabs' %>
<!--Incluye a los archivos de js para el menú-->
<%= javascript_include_tag "easytree"%>
<!--Obtiene al cliente del cual se desean mostrar sus proyectos-->
<% @cliente = Cliente.find(@id)%>
<!--Obtiene el portafolio del cliente-->
<% @portafolio = Portafolio.find_by(cliente_id: @cliente.id)%>
<!--Obtiene las hojas pertenecientes -->
<% @hojas = Hoja.where("portafolio_id == :id", {id: @portafolio.id}).all %>
<div class= "col-md-3">
   <!--Muestra el nombre del cliente-->
   <h4>Cliente: <%= @cliente.nombreEmp%></h4>
   <h5>Proyectos</h5>
   <div id="demo1_menu">
      <ul>
      <!--Recorre cada hoja del portafolio-->
      <%  @hojas.each do |hoja| %>
      <!--Obtiene el proyecto según la hoja-->
         <% @proyecto = Proyecto.find(hoja.id)%>
      <li class="isFolder" title="Documentos">
         <!--Coloca el nombre del proyecto en el menú-->
          <%= link_to @proyecto.nombre, :controller => 'documento', :action => 'show',:id =>hoja.id, :id_cliente =>@id %>

         
         <ul>
            <li class="isFolder" title="Riesgos">
              Riesgos
               <ul>
                  <!--Obtiene todos los documentos de riesgo y los coloca en el menú-->
                  <% @riesgos = Riesgo.where("proyecto_id == :id", {id: @proyecto.id}).all%>    
                  
                  <% if !@riesgos.empty? then%>
                  <%  @riesgos.each do |riesgo| %>
                  <li><a href="http://www.google.com" target="_blank"><%= riesgo.tipo %></a></li>
                  <%end%>
                  <%else%>
                  <li><img src="/content/images/google.ico" />No existen documentos asociados a este proyecto.</a></li>
                  <%end%>
               </ul>
                <li class="isFolder" title="Alianza">
               Alianzas
               <ul>                   
               <!--Obtiene todos los documentos de alianza y los coloca en el menú-->
                  <% @alianzas = Alianza.where("proyecto_id == :id", {id: @proyecto.id}).all%>    
                  
                  <% if !@alianzas.empty? then%>
                  <%  @alianzas.each do |alianza| %>
                  <li><a href="http://www.google.com" target="_blank"><%= alianza.tipo %></a></li>
                  <%end%>
                  <%else%>
                  <li><img src="/content/images/google.ico" />No existen documentos asociados a este proyecto.</a></li>
                  <%end%></ul>
         </ul>
      </li>
      <% end %>
   </div>
   <!--Carga el javascript del menú-->
   <script>
      $('#demo1_menu').easytree();
   </script>
</div>


<!--Crea un Markdown con las especificaciones del proyecto las especificaciones del proyecto-->
<div class = "col-md-8">
   <span id="markdown_area">
   <div id="elementId" class= "well">
      <%a=creaMD(@documento.titulo,@documento.razon,@documento.tiempo,@documento.precio,@documento.costo,@documento.estado)%>
      <%= markdown(a) %>
   </div>
   </span>
      <br>
   <!--Botones con las distintas acciones-->      
   <%= link_to "/auth/facebook", id: "sign_in" do %>
   <div class="btn btn-default"> 
      <i class="fa fa-tasks"></i>  Administrar entregables
   </div>
   <%end%>
    <%= link_to "add_documento/#{@documento.id}",:id_proyecto => @documento.id do%> 
     <div class="btn btn-default">  
      <i class="fa fa-file"></i>  Agregar documentos
   </div>
   <%end%>
      <button type="button" class="btn btn-default" data-toggle="modal" data-target="#modalEliminarDocumentos">
      <i class="fa fa-file-excel-o"></i>  Eliminar documentos
   </button>
   
   <%= link_to "callto://mundoFeliz",  id: "sign_in" do %>
   <div class="btn btn-default"> 
      <i class="fa fa-plus-square"></i>  Añadir nuevo proyecto
   </div>
   <%end%>
</div>

 <!-- Inserta el contenido del header -->
  <%= render 'layouts/header_user' %>
  
 

<!-- Modal Eliminar documentos -->

<div id="modalEliminarDocumentos" class="modal fade" role="dialog">
  <div class="modal-dialog" style="width: 400px">

    <!-- Contenido dentro del Modal -->
    <div class="modal-content">
       <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Agregar Documentos</h4>
        </div>
        
        <div class="modal-body">
        
            <%= render partial: "documento/delete_documento", :locals => { idProyecto: @documento.id } %>
        </div>

  </div>
</div>

