


<!--Carga las pestañas de la aplicación-->
<%= render 'layouts/menus/menu_tabs' %>
<!--Se selecicona un id de cliente-->
<!--Mientras, esta es la sintaxis para enviar variables a través de link_to-->

<nav class="navbar navbar-default">
		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="opciones_modulo_cliente">

			<div>
				<%= form_for(:buscarCliente, url: formBuscarCliente_path, html: {class: 'navbar-form navbar-right'} ) do |f| %>

				<div class="input-group">

					<%= f.text_field :cliente, class: 'form-control', placeholder: 'Buscar Cliente' %> 


					<span class="input-group-btn">

						<%= f.submit "Buscar", class: "btn btn-default" %> 
					</span>
					<% end %>

				</div>
			</div>
		</div>
	</nav>

	<table id="tabla" class="table table-striped table-bordered">
		<thead>
			<tr>
				<th>Número de Cliente</th>
				<th>Nombre</th>
				<th>Ubicación</th>
				<th>Contacto</th>
				<th>Correo Electrónico</th>
				<th>Teléfono</th>
			</tr>
		</thead>
		<tbody>
			
			<% @clientes.each do |cliente| %>
			<tr>
				<td> <%= cliente[:id] %> </td>	
				<td> <%= link_to cliente[:nombreEmp], { :controller => 'documento', :action => 'show', :id => cliente[:id], :id_cliente => cliente[:id]  } %> </td>	
				<td> <%= cliente[:ubicacion] %> </td>		
				<td> <%= cliente[:contacto] %> </td>		
				<td> <%= cliente[:email] %> </td>		
				<td> <%=cliente[:telefono] %>  </td>		
			</tr>
			<% end %>

			
		</tbody>
	</table>



 <!-- Inserta el contenido del header -->
  <%= render 'layouts/header_user' %>

