  
<!DOCTYPE html>
<html>

<header class="navbar navbar-fixed-top navbar-inverse">

	<%= stylesheet_link_tag 'application', media: 'all',
	'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>


	<div class="container">

		<a id="nombre_proyecto" href="home">Mundo Feliz</a>

		<nav>
			<ul class="nav navbar-nav navbar-right">
				<%= render 'layouts/menus/menu_user' %>
			</ul>
		</nav>

	</div>


</header>

<body>



	<div id="menu_tabs" class="container">
		<ul class="nav nav-tabs">
			<li class="active"><a data-toggle="tab" href="#opcion_cliente"><span class="glyphicon glyphicon-book"></span> Clientes</a></li>
			<li><a data-toggle="tab" href="#opcion_portafolio"><span class="glyphicon glyphicon-briefcase"></span> Portafolio</a></li>
			<li><a data-toggle="tab" href="#opcion_entregables"><span class="glyphicon glyphicon-file"></span> Entregables</a></li>
			<li><a data-toggle="tab" href="#opcion_recursos"><span class="glyphicon glyphicon-user"></span> Recursos</a></li>
			<li><a data-toggle="tab" href="#opcion_bitacora"><span class="glyphicon glyphicon-edit"></span> Bitácora</a></li>
		</ul>



	</div>

	<nav class="navbar navbar-default">
		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="opciones_modulo_cliente">

			<div>
				<%= form_for(:buscarCliente, url: formBuscarCliente_path, html: {class: 'navbar-form navbar-right'} ) do |f| %>

				<div class="input-group">

					<%= f.text_field :cliente, class: 'form-control', placeholder: 'Buscar Cliente' %> 


					<span class="input-group-btn">

						<%= f.submit "Buscar", class: "btn btn-default" %> 
					</span>
					<% end %>

				</div>
			</div>
		</div>
	</nav>

	<table id="tabla" class="table table-striped table-bordered">
		<thead>
			<tr>
				<th>Número de Cliente</th>
				<th>Nombre</th>
				<th>Ubicación</th>
				<th>Contacto</th>
				<th>Correo Electrónico</th>
				<th>Teléfono</th>
			</tr>
		</thead>
		<tbody>
			
			<% @clientes.each do |cliente| %>
			<tr>
				<td> <%= cliente[:id] %> </td>	
				<td> <%= link_to cliente[:nombreEmp], { :action => 'modulo_cliente', :idCliente => cliente[:id] } %> </td>	
				<td> <%= cliente[:ubicacion] %> </td>		
				<td> <%= cliente[:contacto] %> </td>		
				<td> <%= cliente[:correo] %> </td>		
				<td> <%= link_to cliente[:telefono], { :action => 'lista_clientes', :idCliente => cliente[:id] } %>  </td>		
			</tr>
			<% end %>

			
		</tbody>
	</table>

<% if @telefonos %>
<div class="alert alert-info fade in">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong> Teléfonos: </strong> 
    <%= @telefonos %>
  </div>
<% end %>

	<%= render 'layouts/footer' %>
</body>

</html>

